.wrapper {
    width: 100%;
}

.make-report {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 20vh auto 0 auto;
}

input {
    padding: 0 10px;
    margin: 0 auto;
}

.block {
    max-width: 600px;
    margin: 0 auto;
}

.results-block {
    text-align: center;
}

li {
    list-style: none;
    padding-top: 10px;
}

.dates {
    /*display: flex;*/
}