<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Парсер</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<div class="wrapper">
    <section class="tasks-block block">
        <form class="make-report" method="post" enctype="multipart/form-data">
            <input type="hidden" name="a" value="1">
            {% if not is_running %}
                <div class="options">
                    <input type="file"
                           name="file"
                    >
                    <label class="checkbox-label"><input type="checkbox" name="add_checkbox" value="add" checked>Добавить
                        в базу</label>
                    <label class="checkbox-label"><input type="checkbox" name="parse_checkbox" value="parse" checked>Спарсить</label>
                    <input type="submit"
                           name="run_button"
                           value="Запустить"
                    >
                </div>
                <hr>
                <div class="schedule options">
                    <input type="file"
                           name="schedule_file"
                    >
                    <a href="uploads/input.xlsx">По расписанию</a>
                    <input type="submit"
                           name="schedule_button"
                           value="Переписать файл по расписанию"
                    >
                </div>
                <hr>
                <div class="buttons">
                    <label>С <input type="date"
                           name="start_date"
                                    value="{{ default_start_date }}"
                    ></label>
                    <label>По
                    <input type="date"
                           name="end_date"
                           value="{{ default_end_date }}"
                   ></label>
                    <input type="submit"
                           name="report_button"
                           value="Получить отчёт за период"
                    >
                </div>
            {% else %}
                <label>{{ working_file }}</label>
                {% if progress_bar < 100 %}
                    <div class="buttons">
                        <input type="submit"
                               name="stop_button"
                               value="Остановить"
                                {% if is_terminating %} disabled {% endif %}
                        >
                    </div>
                {% endif %}
            {% endif %}
        </form>
    <hr>
    </section>
    <section class="results-block block">
        <h2>Результаты</h2>
        <ul>
            {% if is_running %}
                {% if progress_bar == 0 %}
                    Чтение файла...
                {% elif progress_bar < 100 %}
                    Выполняется работа...{{ progress_bar }}%
                    {% for progress in progresses %}
                        <br>{{ progress }}
                    {% endfor %}
                {% else %}
                    Сохранение файла...
                {% endif %}
                {% if is_terminating %}
                    (Остановка)
                {% endif %}
            {% endif %}
            {% for report in reports %}
                <li><a href="{{ link }}/{{ report }}">{{ report }}</a></li>
            {% endfor %}
        </ul>
    </section>
</div>
</body>
</html>